<section class="footer">
	<a href="{{@blog.url}}/rss/" target="_blank" class="icon-rss"></a>
	<p>{{@blog.title}} &copy; {{date format='YYYY'}} &middot; All Rights Reserved.</p>
	<p>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a>.</p>
</section>