<div class="social clearfix">
	<a href="https://www.facebook.com/sethjenks" target="_blank" class="icon-facebook"></a> 
	<a href="https://twitter.com/sethjenks" target="_blank" class="icon-twitter"></a>
	<a href="#" target="_blank" class="icon-behance"></a> 
	<a href="https://dribbble.com/sethjenks" target="_blank" class="icon-dribble"></a>
</div>